@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 300px;
}

header img {
  width: 120px;
  height: 20px;
  padding: 15px 0;
}

@media only screen and (max-width: 1240px) {
  header {
    margin: auto;
  }
}

@media only screen and (max-width: 936px) {
  header {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 510px) {
  header {
    padding: 0 50px;
  }
  header img {
    width: 90px;
    height: 20px;
  }
}

.section1 {
  height: 450px;
  background-color: #c3bfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: blod;
}

@media only screen and (max-width: 1240px) {
  .section1 {
    height: 550px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 970px) {
  .section1 {
    height: 550px;
  }
}

@media only screen and (max-width: 510px) {
  .section1 {
    height: 550px;
  }
}

.section1 h1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 510px) {
  .section1 h1 {
    font-size: 15px;
    text-align: center;
  }
}

.section1 #form_title {
  width: 350px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 320px;
  margin-top: 30px;
}

@media only screen and (max-width: 1240px) {
  .section1 #form_title {
    padding: 0;
  }
}

.section1 #form_content {
  width: 250px;
  height: 280px;
  line-height: 1.5;
  background-color: white;
  border: solid 1px black;
  margin-right: 320px;
  padding: 35px;
}

@media only screen and (max-width: 1240px) {
  .section1 #form_content {
    margin: 10px;
  }
}

@media only screen and (max-width: 510px) {
  .section1 #form_content {
    width: 200px;
    height: 280px;
    padding: 20px;
  }
}

.section1 #form_content h4 {
  font-size: 15px;
  font-weight: 900 !important;
  text-align: center;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.section1 #form_content p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 5px;
}

form {
  padding-top: 20px;
}

form input {
  width: 250px;
  padding: 8px;
  border: none;
  color: #bbb4b4;
  border-bottom: 1px solid #bbb4b4;
}

@media only screen and (max-width: 510px) {
  form input {
    width: 200px;
  }
}

form button {
  width: 140px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  background: #ee4907;
  padding: 10px;
  border-radius: 1px;
  border: none;
  margin: 15px 65px;
}

@media only screen and (max-width: 510px) {
  form button {
    width: 100px;
    margin: 5px 0 0 55px;
  }
}

.section2 {
  padding: 30px;
}

.info {
  padding: 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (max-width: 936px) {
  .info {
    padding: 0 200px;
  }
}

@media only screen and (max-width: 650px) {
  .info {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 510px) {
  .info {
    padding: 0 20px;
  }
}

.info h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #6cb7f9;
  margin-bottom: 10px;
}

.info h3 p {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 12px;
}

.info p {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 12px;
}

.info hr {
  width: 50px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(228, 228, 228, 0.892);
}

.goal {
  padding: 0 180px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goal span {
  width: 150px;
  height: 110px;
  padding: 10px;
  border: solid 1px #6cb7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal span p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
  font-size: 12px;
}

.goal span img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 700px) {
  .goal {
    display: inline;
    padding: 0 80px;
  }
  .goal span {
    margin: auto;
  }
}

.section3 {
  height: 500px;
  background: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1135px) {
  .section3 {
    height: 400px;
  }
}

@media only screen and (max-width: 936px) {
  .section3 {
    height: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .section3 {
    height: 250px;
  }
}

.time {
  width: 300px;
  height: 300px;
  padding-left: 900px;
  padding-top: 90px;
}

@media only screen and (max-width: 1135px) {
  .time {
    padding-left: 700px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 940px) {
  .time {
    padding-left: 550px;
    padding-top: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .time {
    padding-left: 450px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .time {
    padding-left: 40px;
    padding-top: 40px;
  }
  .time h4,
  .time h2,
  .time h5,
  .time p {
    color: white;
  }
}

.time h4 {
  font-family: "Roboto", sans-serif;
  margin: 3px;
}

.time h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.time hr {
  width: 20px;
  margin: 0px;
  text-align: left;
  border-top: 2px solid white;
}

.time h5 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 5px;
  font-size: 13.5px;
  font-weight: bold;
}

.time p {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 10px;
  margin: 5px 0;
}

.time-card {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.time-card .card1 {
  color: #6cb7f9;
}

.time-card span {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 1px;
  margin-top: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.time-card span h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 10px;
}

.time-card span p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 5px 0;
  font-size: 6px;
}

.section4 {
  width: 100%;
  background-color: #3c3939;
  text-align: center;
  padding: 30px 0;
  outline: 1px solid #fff;
  outline-offset: -10px;
}

.section4 hr {
  width: 600px;
  border-top: 0.1px solid rgba(65, 62, 62, 0.077);
  margin: auto;
}

.above h4,
.above p {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  padding: 6px;
  color: white;
  font-weight: normal;
}

.bottom {
  margin-top: 20px;
  color: white;
  font-weight: normal;
}

.bottom a {
  color: #f7881f;
}

.bottom img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: white;
}

footer {
  background-color: #f4efe7;
  padding: 30px;
  text-align: center;
}

footer img {
  width: 15px;
  height: 15px;
}

footer a {
  color: #bbb4b4;
}

footer p {
  font-family: "Roboto", sans-serif;
  color: #bbb4b4;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */